{% extends 'hello/index.html' %}
{% block body %}



<div class="card">
  <h5 class="card-header">{{ chapter }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <div class="container">
  <br>
  <br>
<div class="row">

  <div class="col-sm">
    
    <div class="video-container" style="position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;">
<iframe width="1080" height="720" src=
{{src}}
frameborder="0"
        style="position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;"
        
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
</div>

    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="{% url 'chapters' %}"class="btn btn-primary">Back To All Chapters</a>
  </div>
</div>

{% endblock %}